death-saving-throw {
  text-align: left;

  .counter-container {
    display: flex;
  }

  .counter-container > div {
    flex: 1
  }

  .counter-trackers div {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

  span.filled, span.unfilled {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  span.filled {
    background-color: black;
  }

  h2 {
    text-align: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
  }
}