rpg-wallet {
  .wallet-container {
    display: table;

    border-spacing: 5px;

    .currency {
      display: table-row;

      span {
        display: table-cell;
        border: 1px solid black;
        padding: 5px;
      }
    }

    .currency-value {
      text-align: right;
    }

    editable-number .counter-value {
      border: 0;
    }
  }
}