my-app {
  header {
    background: #5851ff;
    color: white;
    height: 56px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  main {
  }

  main > div {
    float: left;
  }

  h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    padding: 0 12px;
  }

  .point-example {
    width: 500px;
    margin: auto;
    text-align: center;
  }

  .attributes {
    width: 10%;
  }

  .pointtrack {
    margin: auto;
    box-sizing: border-box;
    width: 250px;
    display: flex;
    justify-content: center;

    point-tracker {
      flex: 1;
    }
  }

  .death-saving-throw {
    width: 201px;
    box-sizing: content-box;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 1em;
  }
}