character-attribute {

    &.is-penalized {
        color: red;
    }

    &.is-boosted {
        color: green;
    }

    .character-attribute-container.character-attribute-vertical {
        width: 80px;
        text-align: center;

        .attribute-name {
            font-weight: bold;
            font-size: .8em;
        }

        editable-number {
            border: 1px solid black;
            padding: 15px 0 15px;
            font-size: 1.2em;
            font-weight: bold;
        }

        .attribute-bonus-container {
            border-radius: 50%;
            border: 1px solid black;
            width: 50%;
            margin: auto;
            top: -5px;
            position: relative;
            background: white;
        }
    }
}