point-tracker {
  .counter-container {
    padding: 20px;
    font-size: 20px;
    font-weight: black;
    border: 1px solid black;
    width: 40px;
  }

  button {
    font-size: 18;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
  }
}